html, body {
    margin : 0;
}

body {
    font-family : -apple-system, BlinkMacSystemFont, system, Arial, sans-serif;
}

button > div > div {
    height : 36px !important;
}

blockquote {
    margin       : 0;
    padding-left : 1.5em;
    border-left  : 0.5em #888 solid;
}

::-webkit-scrollbar {
    width              : 7px;
    height             : 7px;
    -webkit-appearance : none;
}

::-webkit-scrollbar-thumb {
    border-radius      : 4px;
    background-color   : rgba(127, 127, 127, 0.5);
    -webkit-box-shadow : 0 0 1px rgba(127, 127, 127, 0.15);
}

.fa {
    font-size : 14px !important;
}

.no-outline {
    outline : none;
}

.draggable-region {
    cursor             : -webkit-grab;
    -webkit-app-region : drag;
}

.draggable-region:active {
    cursor : -webkit-grabbing;
}

.SearchField > input {
    background-color : rgba(127, 127, 127, 0.15);
}

.SearchField > input:focus {
    background-color : transparent;
}
